# API Keys para diferentes providers
OPENAI_API_KEY=sk-your-openai-api-key-here

# API Key para OpenRouter - obtenla de https://openrouter.ai/settings/keys
OPENROUTER_API_KEY=sk-or-your-openrouter-api-key-here
